.box{ :id => id }
  .table
    .grey
      .indicator
        = image_tag 'widgets/admin/table/indicator.gif'
      .table_links
        - table_links.each_index do |index|
          &nbsp;&nbsp;
          = link_to table_links[index][:title], table_links[index][:resource]
      = title